files/common/.cache/wiki-doc/
files/common/.config/chromium/
files/common/.config/FreeTube/*
!files/common/.config/FreeTube/history.db
!files/common/.config/FreeTube/playlists.db
!files/common/.config/FreeTube/profiles.db
!files/common/.config/FreeTube/settings.db
files/common/.config/GIMP/2.10/*
!files/common/.config/GIMP/2.10/gimprc
!files/common/.config/GIMP/2.10/themes/
files/common/.config/quodlibet/*
!files/common/.config/quodlibet/config
files/common/.config/qutebrowser/bookmarks/
files/common/.config/qutebrowser/quickmarks
files/common/.config/rpcs3/
files/common/.config/Signal/
files/common/.config/vesktop/
files/common/.local/
files/common/FreeTube/
files/common/home/
private/
system/common/private.nix
system/desktop/hardware-configuration.nix
system/laptop/hardware-configuration.nix
